body {
    margin-bottom: 50px;
}

html {
    position: relative;
    min-height: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}






/* NEEEEEWWWWWWWWW*/

body{
	font-family: 'Poppins', sans-serif;


}
p{
	font-family: 'Poppins', sans-serif;
	font-size: 1.1em;
	font-weight: 300;
	line-height: 1.3em;
	color: #999;
}
#sidebar a,
#sidebar a:hover,
#sidebar a:focus{
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}

/* Side Bar*/



#sidebar.active {
    margin-left: -250px;
}
.wrapper{
	display: flex;
	text-decoration: none;
	transition: all 0.3s;
}

#sidebar{
	min-width: 250px;
	max-width: 250px;
	/*background: #7386D5;*/
	background: #57849B;
	color: #fff;
	transition: all 0.3s;
}


#sidebar .sidebar-header{
	padding: 20px;
	/*background: #6d7fcc;*/
	background: #4D768A;
}
#sidebar ul.components{
	padding: 20px 0;
/*	border-bottom: 1px solid #47748b; */
}

#sidebar ul p{
	color: #fff;
	padding: 10px;
}

#sidebar ul li a{
	padding: 10px;
	font-size: 1em;
	display: block;
}

#sidebar ul li a:hover{
	/*color: #7386D5;*/
	color: #000000;
	/*color: #4D768A;*/
	background: #fff;
}
#sidebar ul li.active>a,
a[aria-expanded="true"] {
	color: #fff;
	background: #4D768A;
}

a[data-toggle="collapse"]{
	position: relative;
}

.dropdown-toggle::after{
	display: block;
	position: absolute;
	top: 50%;
	right: 20%;
	transform: translateY(-50%);
}
ul ul a{
	font-size: 0.9em !important;
	padding-left: 30px !important;
	background: #4D768A;
}

#content{
	width: 100%;

	min-height: 100vh;
	transition: all 0.3s;
}


@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
/*    #sidebarCollapse span {
        display: none;
    }
*/
}